.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 13vh 8% 15% 70% 35vh 7vh;
    height: 200vh;
    grid-template-areas: 
    'hd hd hd hd'
    'div div div div'
    'mn mn mn mn'
    'dv dv dv dv'
    'ft ft ft ft'
    'ftb ftb ftb ftb';
}

@font-face {
    font-family: 'queensides-medium';
    src: url(/fonts/QueensidesMedium-x30zV.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'queensides-light';
    src: url(/fonts/QueensidesLight-ZVj3l.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'queensides';
    src: url(/fonts/Queensides-3z7Ey.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    overflow-x: hidden;
}

header {
    grid-area: hd;
    position: sticky;
    top: 0;
    z-index: 9999;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.306);
}

nav {
    display: flex;
    font-family: 'queensides-medium', sans-serif;
    font-size: 150%;    
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 60px;
}

.navMenu {
    display: flex;
    list-style: none;
    margin-right: 20px;
    align-items: center;
}

.navMenu li a{
    margin: 7px;
    transition: 0.3s ease;
}

.navMenu li a:hover {
    color: blue;
}

.searchbar form {
    display: flex;
}

.searchbar input {
    border-style: solid;
    border-color: rgba(87, 87, 87, 0.637);
    border-width: 1px;
    border-radius: 4px;
    padding: 11px;
    transition: 0.3s ease;
}

.searchbar input:hover {
    border-color: rgb(0, 0, 0);
}

.titleBox {
    grid-area: div;
    font-family: 'queensides-medium', sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.326);
    display: flex;
    align-items: center;
}

.titleBox h1 {
    margin-left: 30px;
    font-size: 50px;
}


.boxThemes {
    grid-area: mn;
    font-family: 'queensides-medium', sans-serif;
    display: flex;
    flex-direction: row;
    margin-left: 18px;
}

.theme {
    width: 17%;
    height: 128px;
    padding: 10px;
}

.theme img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.themeTitle {
    margin-top: 0px;
    font-size: 20px;
}

.boxArtworks {
    grid-area: dv;
}

.footer {
    grid-area: ft;
    border-top: 1px solid rgba(0, 0, 0, 0.196);
    display: flex;
    flex-direction: row;
}

.footnotes {
    font-family: 'queensides-medium', sans-serif;
    width: 25%;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
}

.footer-box {
    font-family: 'queensides-medium', sans-serif;
    grid-area: ftb;
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgba(0, 0, 0, 0.201);
}

.footer-box img {
    height: 100%;
    margin-left: 10px;
}

.footer-box p {
    margin-left: 15px;
    color: gray;
}